<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="nav">
        <h1 class="bg-zinc-900 text-7xl text-white text-center py-5">MY NOTES</h1>
    </div>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form text-white p-10">
            <form action="/create" method="post">
                <input type="text" placeholder="Title goes here..." class="block px-5 py-2 bg-zinc-800 mt-2 w-full rounded-md outline-none" name="title">
                <textarea placeholder="Write your task details here..." class="resize-none block px-5 py-2 bg-zinc-800 mt-2 w-full rounded-md outline-none" name="details"></textarea>
                <input type="submit" value="Create Task" class="bg-blue-600 mt-2 px-5 py-3 rounded-md">
            </form>
        </div>
        <div class="tasks flex gap-3 flex-wrap p-10">
            <% if(files.length > 0){%>
                <% files.forEach((val)=>{%>
                    <div class="task w-72 px-3 py-4 bg-zinc-800 rounded-md">
                        <h1 class="text-white text-3xl tracking-tighter"><%= val %></h1>
                        <a href="/file/<%= val %>" class="text-blue-500 inline-block mt-3">Read more...</a>
                    </div>
                <% }) %>
            <%} else{%>
                <h3 class="text-zinc-600 text-2xl">No tasks yet..</h3>
            <%} %>
        </div>
    </div>
</body>
</html>